{% extends 'base.html' %}

{% block title %}Thanh toán đơn hàng{% endblock %}

{% block content %}

    <div class="card mb-3" style="width: 2000px;">
        <h1 style="text-align: center; margin-top: 25px">Thanh toán đơn hàng</h1>
        <br>
        <hr style="height: 30px">
        {% for item in order_items %}
            <div class="row g-0">
                <div class="col-md-4">

                    {% if item.product.img %}
                        <img src="{{ item.product.img.url }}" class="img-fluid rounded-start" alt="..." width="300">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">

                        {% if item.quantity > 1 %}
                            <h5 class="card-title">{{ item.product.name }} - {{ item.quantity }} units.</h5>
                        {% else %}
                            <h5 class="card-title">{{ item.product.name }} - {{ item.quantity }} unit.</h5>
                        {% endif %}

                        <br>
                        <h5 class="card-text">{{ item.get_total_price_view }} <small>đ</small></h5>

                        <h6 class="card-text">Product article: {{ item.product.article }}</h6>
                        <br>


                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}


        <div class="payment" style="margin-left: 550px; margin-top: 5px; margin-bottom: 5px">
            {{ form.render }}
        </div>

        <hr>

        <h5 style="margin-left: 5px; margin-bottom: 5px; width: 700px">Tổng giá trị đơn hàng: {{ order.get_order_total_price_view }} <small>đ</small></h5>

        <hr>


    </div>

{% endblock %}